In [13]:
import pandas as pd

In [15]:
df=pd.read_excel("book4.xlsx")
df

   total_bill  tips     sex smoker  day    time  size
0       12.55  1.23  female     no  sun  dinner     2
1       45.60  2.34    male     no  sun  dinner     3
2       45.78  1.20    male     no  sun  dinner     4
3       43.67  1.44    male     no  sun  dinner     3
4       23.68  2.40  female    yes  sat  dinner     2
5       38.78  3.40    male    yes  sat  dinner     2
6       35.76  5.00  female     no  sun  dinner     2
7       33.56  6.66    male     no  thu  dinner     3
8       34.67  5.55  female    yes  sun  dinner     4

In [17]:
dummy_data=pd.get_dummies(df)
dummy_data

,total_bill,tips,size,sex_female,sex_male,smoker_no,smoker_yes,day_sat,day_sun,day_thu,time_dinner
0,12.55,1.23,2,True,False,True,False,False,True,False,True
1,45.60,2.34,3,False,True,True,False,False,True,False,True
2,45.78,1.20,4,False,True,True,False,False,True,False,True
3,43.67,1.44,3,False,True,True,False,False,True,False,True
4,23.68,2.40,2,True,False,False,True,True,False,False,True
5,38.78,3.40,2,False,True,False,True,True,False,False,True
6,35.76,5.00,2,True,False,True,False,False,True,False,True
7,33.56,6.66,3,False,True,True,False,False,False,True,True
8,34.67,5.55,4,True,False,False,True,False,True,False,True

In [19]:
dummy_data=pd.get_dummies(df,drop_first=True)
dummy_data

   total_bill  tips  size  sex_male  smoker_yes  day_sun  day_thu
0       12.55  1.23     2     False       False     True    False
1       45.60  2.34     3      True       False     True    False
2       45.78  1.20     4      True       False     True    False
3       43.67  1.44     3      True       False     True    False
4       23.68  2.40     2     False        True    False    False
5       38.78  3.40     2      True        True    False    False
6       35.76  5.00     2     False       False     True    False
7       33.56  6.66     3      True       False    False     True
8       34.67  5.55     4     False        True     True    False

one hot encoding with scikit_learn

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
oh_enc=OneHotEncoder(sparse=False)
oh_enc

OneHotEncoder(sparse=False)

In [24]:
oh_enc_arr=oh_enc.fit_transform(df[['sex','smoker','time','day']])
oh_enc_arr

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 1., 1., 0., 0.],
       [0., 1., 0., 1., 1., 1., 0., 0.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 1., 1., 0., 1., 0.]])

In [38]:
dummy_data.keys()

Index(['total_bill', 'tips', 'size', 'sex_male', 'smoker_yes', 'day_sun',
       'day_thu'],
      dtype='object')

In [44]:
oh_enc_df=pd.DataFrame(oh_enc_arr,columns=['sex_female','sex_male','smoker_no','smoker_yes','day_sat','day_sun','day_thu','time_dinner'])
oh_enc_df

,sex_female,sex_male,smoker_no,smoker_yes,day_sat,day_sun,day_thu,time_dinner
0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
5,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0
6,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
7,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
8,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0